**/__pycache__
.env
**/.env
**/node_modules
**/venv
**/data/
**/graphdata/
backend/data/
backend/convdata/
backend/opp-people.csv
backend/opp-status.csv
backend/opportunity.csv
opportunity.csv
**/ingestion-service/output
**/process_all.log
# Traefik/Let's Encrypt
letsencrypt/
acme.json
ingestion-service/skipped_files.log
